<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <title th:text="${title}">Home Page</title>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<body>
<div class="flex items-center justify-center h-screen bg-gray-200">
  <div class="container">
    <div class="bg-white rounded-lg shadow-lg p-5 md:p-20 mx-2">
      <div class="text-center">
        <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
          Tournament<span class="text-indigo-600">Manager</span>
        </h2>
        <h3 class='text-xl md:text-3xl mt-10'>Coming Soon</h3>
        <p class="text-md md:text-xl mt-10"><a class="hover:underline" href="">Esport Tournament Manager</a> est une application de gestion de tournois liés aux jeux vidéos.</p>
      </div>
      <div class="flex flex-wrap mt-10 justify-center">
      </div>
    </div>
  </div>
</div>
</body>
</html>